.flex {
    display: flex;
}

.flex-content-right {
    display: flex;
    justify-content: flex-end;
}

.mg-l-auto {
    margin-left: auto;
}

.mg-t-1 {
    margin-top: 1rem;
}

.mg-b-1 {
    margin-bottom: 1rem;
}

.mg-l-1 {
    margin-left: 1rem;
}

.mg-r-1 {
    margin-right: 1rem;
}

.mg-t-2 {
    margin-top: 2rem;
}

.mg-b-2 {
    margin-bottom: 2rem;
}

.mg-l-2 {
    margin-left: 2rem;
}

.mg-r-2 {
    margin-right: 2rem;
}

.mg-t-20px {
    margin-top: 20px;
}

body {
    background: var(--body-color-base);
    color:var(--text-color-base);
    margin: 0;
}

.light-blue-gray {
    background: var(--body-light-color-base);
    box-shadow: var(--body-light-color-shadows-base);
}